@import "variables";
@import "themes";

/* Styling for components ONLY used within index.html */

.start-container-wrapper {
    justify-content: center;
    align-items: center;
    margin-top: 96px;

    @media screen and (max-height: 800px),
    (max-width: 500px) {
        margin-top: 64px;
    }

    @media screen and (max-width: 500px) and (max-height: 650px) {
        margin-top: 32px;
    }
}

start-container {
    border-radius: 2.5rem;
    padding: $spacer * 2 $spacer * 2 $spacer * 2.5;
    display: block;

    @include themify($themes) {
        background-color: themed('start-container-background-color');
    }

    .subtitle {
        @media screen and (max-width: 500px) {
            font-size: 24px;
        }
    }

    .start-question-icon {
        width: 40px;
    }

    .start-input-container {
        position: relative;
    }

    .start-input {
        width: 100%;
        font-size: $h3-font-size;
        padding: map-get($spacers, 3);
    }

    .start-input-button {
        position: absolute;
        border-bottom-right-radius: 225px 15px;
        border-top-right-radius: 15px 225px;
        height: 100%;
        top: 0;
        right: 0;
        cursor: pointer;

        @include themify($themes) {
            background-color: themed('primary');
        }
    }

    .start-input-button img {
        height: 100%;
        display: block;
    }
}

.intro-icons-container {
    margin-top: 5rem;


    @media screen and (max-height: 750px) {
        margin-top: 3rem;
    }

    @media screen and (max-width: 500px) {
        margin-top: 3rem;
    }

    .intro-icons-items {
        display: flex;
        justify-content: center;
    }

    intro-icons {
        .intro-icons-wrapper {
            display: flex;
            flex-direction: row;
        }

        .intro-icons-item {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        @media screen and (max-width: 600px) {
            .intro-icons-wrapper {
                display: block;
            }

            .legend-icon {
                width: 60px;
            }

            .intro-icons-item.me-4 {
                margin-right: 0 !important;
                margin-bottom: 15px;
            }
        }
    }
}



welcome-message {
    .edit-name {
        width: 80%;
        font-size: $h3-font-size;
    }

    .save-btn {
        margin-left: 1rem;
        border: none;
        background-color: inherit;
    }

    .save-btn:disabled {
        opacity: 0.4;
    }

    .save-btn i {
        margin-left: 0;
    }

    &>div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    i {
        cursor: pointer;
        margin-left: 1rem;
        font-size: $h5-font-size;
    }
}